Dojo_Assignments/Python/fundamentals/oop/hackathon/classes/__pycache__/character.cpython-310.pyc
Dojo_Assignments/Python/fundamentals/oop/hackathon/classes/__pycache__/pirate.cpython-310.pyc
Dojo_Assignments/Python/fundamentals/oop/hackathon/classes/__pycache__/ninja.cpython-310.pyc
