<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}"> -->
    <title>Playground</title>
<!-- Internal style sheet -->
<style>
.box {
    background-color:{{color}};
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 40px;
}

body{
    text-align: center;
    width: 100%;
}

</style>
</head>
<body>
    <h1>Welcome</h1>
    {% for x in range(0,times): %}
    <main class="box"></main>
    {% endfor %}
</body>
</html>